[submodule "third_party/raylib"]
	path = third_party/raylib
	url = https://github.com/raysan5/raylib
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
[submodule "third_party/date"]
	path = third_party/date
	url = https://github.com/HowardHinnant/date
[submodule "third_party/raygui"]
	path = third_party/raygui
	url = https://github.com/raysan5/raygui
[submodule "third_party/tinyfiledialogs"]
	path = third_party/tinyfiledialogs
	url = https://github.com/fadedflower/tinyfiledialogs
